@import './Vars.scss';
@import './Media.scss';


body {
    margin: 0;
    font-family: $theme-font;
    background: $main-color;
}

::placeholder {
    color: white;
}
  
// * {
//     box-sizing: border-box;
// }